[package]
name = "gluebuddy"
version = "0.3.0"
authors = ["Levente Polyak <anthraxx@archlinux.org>", "Sven-Hendrik Haase <svenstaro@gmail.com>"]
edition = "2021"
license-file = "LICENSE"
repository = "https://gitlab.archlinux.org/archlinux/gluebuddy"
categories = ["command-line-utilities"]
publish = false

[dependencies]
keycloak = "17.0"
gitlab = "0.1409"
reqwest = "0.11"
tokio = { version = "1", features = ["rt-multi-thread", "macros", "sync"] }
futures = "0.3"
anyhow = "1.0"
log = "0.4"
env_logger = "0.9"
clap = { version = "3.0", features = ["derive"] }
clap_complete = "3.0"
serde = {version = "1.0", features = ["derive"]}
serde_repr = "0.1"
serde_json = "1.0"
strum = "0.24"
strum_macros = "0.24"
difference = "2.0"
term = "0.7"
itertools = "0.10"
